*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: rgb(33, 33, 33);
    line-height: 1.6;
}
header{
    background-color: rgb(47, 44, 44);
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 25px;
}
nav{
    display: flex;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
nav a:hover{
     text-decoration:underline ;

}

main{
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    gap: 30px;

}

article{
    background-color: white;
padding: 25px;
border-radius: 10px;
flex: 1;
box-shadow: 0 8px 20px rgba(0,0,0,0.08);
display: flex;
flex-direction: column;
gap: 15px;
}

article h2{
    color: rgb(26, 26, 55)
}
figure{
    border-radius: 8px;
    width: 100%;
    height: auto;
}

figcaption{
    font-size: 14px;
    color:rgb(138, 154, 164)
}

time{
    font-weight: 500;
    color: rgb(117, 111, 111);
}
address{
    font-style: normal;
    color:rgb(22, 161, 220) ;
}

footer{
    background: rgb(38, 37, 37);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}